<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Spotify Monthly</title>
  </head>
  <body>
    <div class="home-wrapper">
      <h1 class="home-tittle">Your <span>Playlist</span> is made for this month, <span>Thank you!</span></h1>
      <div class="home_card">
        <p class="home-sub">Please be sure to Logout!</p>
        <div class="home-Btn">
          <a href="/" class="home-anchor">
            Logout
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
