<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="loading.css">
    <title>Spotify Web API Tutorial</title>
  </head>
  <body>
    <div class="cssload-container">
      <ul class="cssload-flex-container">
        <li>
          <span class="cssload-loading cssload-one"></span>
          <span class="cssload-loading cssload-two"></span>
          <span class="cssload-loading-center"></span>
        </li>
      </div>
    </div>
  </body>
</html>
