<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="noPlaylist.css">
    <title>Spotify Monthly</title>
  </head>
  <body>
    <div class="noPlaylist-wrapper">
      <h1 class="noPlaylist-tittle"><span>Sorry</span> no new music this <span>month</span></h1>
      <div class="noPlaylist-home_card">
        <p class="noPlalist-sub">Please be sure to Logout!</p>
        <div class="home-Btn">
          <a href="/" class="noPlaylist-anchor">
            Logout
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
